.actions_bar_banner{
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 8;
}

.actions_bar_heading{
    position: fixed;
    font-family: castellar;
    color: rgb(233, 206, 52);
    font-size: xx-large;
    right: 47px;
    top: 10px;
    z-index: 9;
}

.action_table{
    position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(243, 188, 85);
    font-size: large;
    right: 50px;
    border-top: solid 4px rgba(224, 197, 139, 0.555);
    width: 150px;
    top: 100px;
    z-index: 10;
}

.action_tbody{
    position: relative;
}

.undo_text{
    position: fixed;
    font-family: castellar;
    color: rgb(255, 240, 213);
    right: 44px;
    bottom: 178px;
    font-size: 12px;
    z-index: 8;
}

.undo{
    position: fixed;
    right: 150px;
    bottom: 150px;
    z-index: 8;
}

.undo_hover{
    position: fixed;
    right: 150px;
    bottom: 150px;
    opacity: 0;
    z-index: 8;
}
.undo_hover:hover{
    position: fixed;
    right: 150px;
    bottom: 150px;
    cursor: pointer;
    opacity: 1;
    z-index: 9;
}

.undo_frame{
    position: fixed;
    right: 150px;
    bottom: 150px;
    pointer-events: none;
    z-index: 9;
}