.menu{
    position: fixed;
    left: 10%;
    top: 10%;
    right: 25%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu_background{
    position: fixed;
    z-index: 10;
}

.building_icon{
    position: fixed;
    z-index: 10;
}

.building_icon_disabled{
    position: fixed;
    z-index: 10;
}

.building_icon_frame{
    position: fixed;
    z-index: 11;
}

.building_icon_frame_hover{
    position: fixed;
    opacity: 0;
    z-index: 11;
}
.building_icon_frame_hover:hover{
    position: fixed;
    margin-left: -5px;
    margin-top: -5px;
    cursor: pointer;
    opacity: 1;
    z-index: 11;
}

.building_heading{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 500px;
    font-family: castellar;
    font-size: 50px;
    height: 50px;
    z-index: 10;
}

.metal_bar_1{
    position: fixed;
    margin-left: -300px;
    margin-top: -190px;
    z-index: 10;
}

.metal_bar_2{
    position: fixed;
    margin-left: -100px;
    margin-top: 0px;
    z-index: 10;
}