.usd_value_display{
    position: fixed;
    left: 100px;
    cursor: pointer;
    z-index: 3;
}

.usd_frame{
    position: fixed;
    left: 100px;
    margin-top: 2px;
    z-index: 5;
}

.usd_icon{
    position: fixed;
    left: 103px;
    margin-top: 4px;
    z-index: 4;
}

.value_frame{
    position: fixed;
    left: 90px;
    z-index: 4;
}

.value_frame_filler{
    position: fixed;
    left: 90px;
    z-index: 3;
}

.value_text{
    position: relative;
    font-family: castellar;
    font-size: 18px;
    color: black;
    margin-left: 100%;
    margin-top: 6px;
    z-index: 3;
}