.left_menu{
    position: fixed;
    left: 0;
    display: block;
    margin-top: 100px;
    margin-bottom: auto;
    z-index: 3;
}

.left_menu_bar{
    position: fixed;
    z-index: 3;
}



/* Farming Icon */
.farm_icon{
    position: fixed;
    left: 14px;
    margin-top: 12px;
    z-index: 3;
}

.farm_frame{
    position: fixed;
    left: 10px;
    margin-top: 8px;
    z-index: 4;
    opacity: 1;
}

.farm_frame:hover{
    position: fixed;
    left: 10px;
    margin-top: 8px;
    z-index: 4;
    opacity: 0;
}

.farm_frame_hovered{
    position: fixed;
    left: 10px;
    margin-top: 8px;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
}

.farm_frame_hovered:hover{
    position: fixed;
    left: 5px;
    margin-top: 3px;
    z-index: 5;
    opacity: 1;
}

/* Building Icon */
.build_icon{
    position: fixed;
    left: 14px;
    margin-top: 111px;
    z-index: 3;
}

.build_frame{
    position: fixed;
    left: 10px;
    margin-top: 107px;
    z-index: 4;
    opacity: 1;
}

.build_frame:hover{
    position: fixed;
    left: 10px;
    margin-top: 107px;
    z-index: 4;
    opacity: 0;
}

.build_frame_hovered{
    position: fixed;
    left: 10px;
    margin-top: 107px;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
}

.build_frame_hovered:hover{
    position: fixed;
    left: 5px;
    margin-top: 102px;
    z-index: 5;
    opacity: 1;
}