.menu{
    position: fixed;
    left: 10%;
    top: 10%;
    right: 25%;
    bottom: 0;
    z-index: 5;
}

.menu_background{
    position: fixed;
    z-index: 5;
}

.asset_table{
    position: fixed;
    margin-left: 100px;
    margin-top: 200px;
    z-index: 5;
}

.asset_table_head{
    font-family: castellar;
    z-index: 5;
}
