.menu{
    position: fixed;
    left: 10%;
    top: 10%;
    right: 25%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu_background{
    position: fixed;
    z-index: 10;
}

.seeds_table{
    position: fixed;
    margin-right: 450px;
    margin-bottom: 150px;
    z-index: 10;
}

.fields_table{
    position: fixed;
    margin-left: 450px;
    margin-bottom: 150px;
    z-index: 10;
}

.fields_heading{
    position: fixed;
    margin-left: 450px;
    margin-bottom: 400px;
    font-family: castellar;
    font-size: 50px;
    height: 50px;
    z-index: 10;
}

.fields_col{
    min-width: 110px;
}

.fields_row{
    font-family: castellar;
    border: dashed;
}
.fields_row:hover{
    background-color: rgb(161, 121, 83) !important;
    font-family: castellar;
    cursor: pointer;
    border: dashed;
}

.seeds_heading{
    position: fixed;
    margin-right: 450px;
    margin-bottom: 400px;
    font-family: castellar;
    font-size: 50px;
    height: 50px;
    z-index: 10;
}

.seeds_col{
    min-width: 70px;
}

.seeds_row{
    background-color: rgb(122, 89, 58);
    font-family: castellar;
    border: dashed;
}
.seeds_row:hover{
    background-color: rgb(161, 121, 83)  !important;
    font-family: castellar;
    cursor: pointer;
    border: dashed;
}
