.menu{
    position: fixed;
    left: 10%;
    top: 10%;
    right: 25%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu_background{
    position: fixed;
    z-index: 8;
}

.building_heading{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 500px;
    font-family: castellar;
    font-size: 50px;
    height: 50px;
    z-index: 8;
}

.asset_icon_1{
    position: fixed;
    margin-left: -500px;
    margin-bottom: 150px;
    z-index: 8;
}

.asset_icon_2{
    position: fixed;
    margin-left: -500px;
    margin-bottom: -200px;
    z-index: 8;
}

.value_filler_1{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 150px;
    z-index: 8;
}

.value_filler_2{
    position: fixed;
    margin-left: 0px;
    margin-bottom: -200px;
    z-index: 8;
}

.value_filler_frame_1{
    position: fixed;
    margin-left: 0px;
    margin-bottom: 150px;
    z-index: 8;
}

.value_filler_frame_2{
    position: fixed;
    margin-left: 0px;
    margin-bottom: -200px;
    z-index: 8;
}

.switch_arrows{
    position: fixed;
    margin-left: 0px;
    margin-bottom: -25px;
    cursor: pointer;
    z-index: 8;
}

.in_text_box{
    position: fixed;
    background-color: transparent;
    border-color: none;
    border-width: 0;
    font-family: castellar;
    color: black;
    width: 300px;
    height: 70px;
    margin-left: 0px;
    margin-bottom: 150px;
    z-index: 8;
    -moz-appearance:textfield;
    text-align: right;
}

.in_text_box::placeholder{
    color: black;
}

/* Text of <input> ".out_text_box" should be alligned right*/
.out_text_box{
    position: fixed;
    background-color: transparent;
    border-color: none;
    border-width: 0;
    font-family: castellar;
    color: black;
    width: 300px;
    height: 70px;
    margin-left: 0px;
    margin-bottom: -200px;
    z-index: 8;
    -moz-appearance:textfield;
    text-align: right;
}

.out_text_box::placeholder{
    color: rgb(48, 39, 39);
}

.spinner{
    position: fixed;
    margin-left: 350px;
    margin-bottom: -200px;
    z-index: 18;
}

.wololo{
    position: fixed;
    font-family: castellar;
    color: black;
    margin-left: 0px;
    margin-top: -50px;
    z-index: 18;
}

.convertingText{
    position: fixed;
    font-family: castellar;
    color: black;
    font-size: smaller;
    margin-left: 80px;
    margin-top: -10px;
    z-index: 18;
}