.button{
    position: fixed;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
    z-index: 9;
}

.frame{
    position: fixed;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 12;
}

.glas{
    position: fixed;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 11;
}

.edge{
    position: fixed;
    left: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 10;
}

.logo{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9;
}

.logo_hover{
    position: fixed;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 10;
}

.logo_hover:hover{
    position: fixed;
    left: 0px;
    bottom: 0px;
    opacity: 1;
    z-index: 10;
}

.modal_header{
    font-family: castellar;
    color: rgb(189, 188, 188);
    border-color: black;
    background-color: rgb(126, 103, 61);
}

.modal_body{
    font-family: castellar;
    color: rgb(189, 188, 188);
    background-color: rgb(70, 54, 26);
}